html{
    background-image: url("Big.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.heading{
    justify-content: center;
    align-items: end;
}
h1{
    font-family: "Great Vibes", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 100px;
    text-decoration: solid underline;
    text-shadow: 0px 3px 3px #ccc;
    margin-left: 20px;
}
button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #E63E6D;
}
button:hover{
    box-shadow: 5px 5px 5px 5px #000;
    transform: scale(1.2, 1.2);
    opacity: 0.5;
    transition-delay: 0.1s;
}
.buttons{
    width: 200px;
    height: 40px;
    padding-bottom: 3px;
    margin-left: 15px;
    margin-bottom: 10px;
}
img{
    width: 450px;
    height: 800px;
    border-radius: 15px;
}
img:hover{
    box-shadow: 5px 5px 5px 5px #ccc;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text{
    font-family: "Pacifico", cursive;
    font-size: 20px;
    font-weight: bolder;
    color: red;
    padding: 30px;
    text-shadow: 0px 5px 5px #000;
}
.text:hover{
    text-shadow: 5px 5px 5px #000;
    transform: scale(1.2,1.2);
}
.textclass:hover{
    transform: scale(1.2,1.2);
}

